////
/// @group uthsc-breadcrumbs
////

/// Background color for the uthscbreadcrumbs.
/// @type Color
$uthsc-breadcrumbs-background: #005f45 !default;

@mixin uthsc-breadcrumbs {
  .uthsc-breadcrumbs {
    background: $uthsc-breadcrumbs-background;
    color: $white;

          .fa-home {
            position: relative;
            top: 0.2rem;
            padding-left: 1rem;
          }
        &:not(:last-child)::after {
          content: '\f054';
          font-family: fontawesome;
          color: #BBBBBB;
          margin: 0 1em 0 1.3em;
        }
    .breadcrumbs {
      margin:0;
      line-height:2.25em;
    }

    a {
      color:white;
    }
  }
}