@mixin uthsc-homepage {
  .homepage {
    .hero {
      margin-top: 1rem;
    }

    //Homepage mobile tabs
    ul.tabs {
      margin-right: 0;
      left: auto;

      li {
        width: 25%;
        a {
          padding: .5em;
          text-align: center;

          &:hover {
            background-color: $uthsc-gray-light;
          }
        }
        &.tabs-title > a[aria-selected='true'] {
          background-color: $uthsc-gray-dark;
        }
      }
    }

    //End Homepage mobile tabs

    .columns.mission-image {
      margin-top: -15px;
    }

    .toggle-push-right {
      background-image: url("../images/full-width-menu-button.png");
      background-repeat: no-repeat;
    }
    .fullscreen {
      height: calc(90vh - 105px);
      background-image: url("../images/fullscreen-students.jpg");
      background-size: cover;
      background-position-x: 100%;
      background-position-y: 80%;
      background-repeat: no-repeat;
    }
    // Flags
    //  .fullscreen {
    //    width: 100%;
    //    height: calc(90vh - 105px);
    //    background-image: url("../images/campus-flags.jpg");
    //    background-size: cover;
    //    background-position-y: 50%;
    //    background-repeat: no-repeat;
    //  }

    .news-box {
      h3 {
        margin: 5px 0 0 0;
        .news-box-for {
          font-size: 0.8rem;
          float: left;
          padding-left: 46px;
          color: #666666;
          line-height: 0;
          margin-bottom: 13px;
        }
      }
      a {
        &:not(:last-child):after {
          content: "";
          display: block;
          height: 1px;
          width: 90%;
          margin: 8px;
          background: #ccc;
        }
      }
      p {
        margin-bottom: 0;
        font-size: .9rem;
        padding: 0 1rem 0 0;
      }

      figure {
        float:left;
        margin-bottom: .25em;
        margin-right: .75em;

        img {
          width:100px;
          height:100px;
        }
      }

      .post-01 {
        @media #{$medium-up} {
          img {
            width: 100%;
            height: inherit;
          }
        }
      }

    }
    .hero-name-stripe {
      height: 7vh;
      background-color: rgba(0, 106, 77, 0.7);
      position: relative;
      bottom: 7vh;
    }
    h2.hero-text {
      font-size: 7vh;
      color: white;
      position: relative;
      bottom: 16vh;
      margin-bottom: -17vh;
      text-align: center;
    }
    .uthsc-infographics h2 {
      font-weight: bolder;
      font-size: 4rem;
      font-family: inherit;
      line-height: 5rem;
      margin-bottom: 0;
      letter-spacing: -2px;
      color: #ced0b4;
      margin: 0;
    }
    .uthsc-infographics p {
      font-size: 0.75rem;
      font-weight: lighter;
    }
    .uthsc-infographics p:first-of-type {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
    }
    .uthsc-infographics .uthsc-infographic-highlight {
      font-weight: bold;
      color: #b06010;
      letter-spacing: 6px;
      font-size: 1rem;
      font-variant-ligatures: no-common-ligatures;
    }
    #events {
      .event-list p:before {
        content: '\f073\ ';
        font-family: fontawesome;
      }
      .event-list p {
        font-size: 11px;
      }
      .events {
        margin: 5px 0;
      }
      .inline-list {
        margin: 0 !important;
      }
    }
    .blockquote {
      .quotemark {
        color: $gainsboro;
      }
      blockquote {
        border-left: 0;
        p {
          font-size: 1.7vw;
          letter-spacing: 0;
          @media #{$small-only} {
            font-size: 5vw;
            line-height: 6vw !important;
          }
        }
        cite {
          text-align: right;
        }
      }
    }

    #events {
      margin: 1.7rem auto;
      .events:last-of-type {
        float: left;
      }
    }
    .event-date {
      border: 1px solid #bbb;
      padding: .5rem;
      width: 4.5rem;
      height: 4.4rem;
      font-size: 1.4rem;
      text-align: center;
      line-height: 1.7rem;
      border-radius: 7px;
      background-color: lightgrey;
      color: #444;
      font-weight: bold;
      float: left;
      margin-right: 0.7rem;
    }
    .events p {
      margin: 0;
      line-height: 1.2rem;
      font-size: .85rem;
    }
    p.event-title {
      padding-top: 0.5rem;
    }
    .uthsc-infographic {
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      margin: 1.5rem 0px !important;
      padding: 0.5rem;
      &.tennessee {
        background: url("../images/uthsc-tennessee-gray.png");
        &:hover {
          background: url("../images/uthsc-tennessee-color.png");
        }
      }
      &.pharmacy {
        background: url("../images/numbers-pharmacy-seal.png");
      }
      &.foam-hand {
        background: url("../images/numbers-foam-hand.png");
      }
      &.billions {
        background: url("../images/numbers-billion-b.png");
      }
      &.millions {
        background: url("../images/numbers-million-m.png");
      }
    }
    .uthsc-center-graphic {
      display: block;
      margin: 1rem auto 0;
    }

  }
}