/* social account colors */
$uthsc-twitter:     #55acee;
$uthsc-facebook:    #3b5999;
$uthsc-google-plus: #DC4E41;
$uthsc-linkedin:    #0077b5;
$uthsc-youtube:     #cd201f;
$uthsc-pinterest:   #bd081c;
$uthsc-instagram:   #3f729b;
$uthsc-tumblr:      #35465c;
$uthsc-flickr:      #0063dc;
$uthsc-reddit:      #ff4500;
$uthsc-vine:        #00b488;
$uthsc-vimeo:       #1ab7ea;
$uthsc-snapchat:    #FFFC00;

/* flex mixins */
@mixin uthsc-vertical-center {
  display: flex;
  align-items: center;
}
@mixin uthsc-horizontal-center {
  display: flex;
  justify-content: center;
}
@mixin uthsc-horizontal-spaced {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
@mixin uthsc-horizontal-justify {
  display: flex;
  justify-content: space-between;
}

@mixin uthsc-global {
  /* Add padding to floated images */
  .left img, figure.left {
    margin-right: 1em;
    float: left;
  }

  .right img, figure.right {
    margin-left: 1em;
    float: right;
  }
  figure.right img {
    margin: 0;
  }
  .image-40 {
    width: 40%;
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  a, strong, b {
    font-weight: 700;
  }

  em, i {
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    & strong, b, em, i {
      font-weight: 400;
      font-style: normal;
    }
  }
  figure {
    border: 1px solid #bababa;
    border-radius: 0 0 3px 3px;
    border-radius: 3px;
    overflow: hidden;
    margin: 0;
    max-width: 302px;
    max-height: 302px;
    figcaption {
      padding: 5px;
      font-size: 0.85em;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      a {
        font-weight: 700;
      }
    }
  }
  .main-content, .uthsc-content-footer {
    & ol, ul {
      margin-left: 0;
      margin-right: 1rem;
      position: relative;
      padding-left: 0;
      left: 1rem;
    }
  }

  // for styling indented list items
  //ul ul {
  //  list-style-type: circle;
  //  ul {
  //    list-style-type: square;
  //  }
  //}

  ol ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }

}