@mixin uthsc-global {
  /* Add padding to floated images */
  .left img, figure.left {
    margin-right: 1em;
    float: left;
  }

  .right img, figure.right {
    margin-left: 1em;
    float: right;
  }
  figure.right img {
    margin: 0;
  }
  .image-40 {
    width: 40%;
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  a, strong, b {
    font-weight: 700;
  }

  em, i {
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  figure {
    border: 1px solid #bababa;
    border-radius: 0 0 3px 3px;
    border-radius: 3px;
    overflow: hidden;
    margin: 0;
    max-width: 302px;
    max-height: 302px;
    figcaption {
      padding: 5px;
      font-size: 0.85em;
      font-family: "Open Sans";
      a {
        font-weight: 700;
      }
    }
  }
}