////
/// @group footer-top
////

/// Background color for the top footer.
/// @type Color
$uthsc-footer-top-background: #EFEFEF !default;

/// Adds styles for a top bar container.
@mixin uthsc-footer-top-styles {
  background-color: $uthsc-footer-top-background;
  padding: 40px 0;
}

@mixin uthsc-footer-top {
  .uthsc-footer-top {
    @include uthsc-footer-top-styles;
  }
}