////
/// @group uthsc-off-canvas
/// @Inspired by http://callmenick.com/2014/03/26/slide-and-push-menus-with-css3-transitions/
////

/// Width of an off-canvas menu.
/// @type Number
$uthsc-offcanvas-size: 300px !default;

/// Background color of an off-canvas menu.
/// @type Color
$uthsc-offcanvas-background: $dark-gray !default;

/// Length of the animation on an off-canvas menu.
/// @type Number
$uthsc-offcanvas-transition-length: 0.3s !default;

/// Timing function of the animation on an off-canvas menu.
/// @type Keyword
$uthsc-offcanvas-transition-timing: ease !default;

/// Background color for the overlay that appears when an off-canvas menu is open.
/// @type Color
$uthsc-offcanvas-exit-background: rgba($black, 0.5) !default;

$gainsboro   : #DDDDDD;
$base        : #AAAAAA;
$steel       : #666666;
$light-oil   : #404040;
$oil         : #333333;
$light-jet   : #292929;
$jet         : #222222;

@mixin uthsc-off-canvas-transition {
  -webkit-transition: $uthsc-offcanvas-transition-timing $uthsc-offcanvas-transition-length;
  -moz-transition: $uthsc-offcanvas-transition-timing $uthsc-offcanvas-transition-length;
  -ms-transition: $uthsc-offcanvas-transition-timing $uthsc-offcanvas-transition-length;
  -o-transition: $uthsc-offcanvas-transition-timing $uthsc-offcanvas-transition-length;
  transition: $uthsc-offcanvas-transition-timing $uthsc-offcanvas-transition-length;
}

@mixin uthsc-off-canvas-activation-bar {

  //mobile navigation
  #mobile-navigation {
    position: fixed;
    bottom: 0;
    z-index: 1;
    left:0;
    right: 0;
    @include uthsc-off-canvas-transition;

    button {
      margin: 0;
      width:50%;
      height: 44px;
    }
  }

  .pml-open #mobile-navigation{
    left: 300px;
    right: -300px;
  }

  .pmr-open #mobile-navigation{
    right: 300px;
    left: -300px;
  }

  .bottom-nav-bar {
    width: 100%;
    height: 44px;
    clear: left;
    background-image: url(../images/uthsc-logo-short-grey.svg);
    text-align: center;
    line-height: 44px;
    background-size: 89%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $uthsc-green;
    opacity: 0.4;
  }
  .nav-toggler {
    background: $uthsc-green;
    height: 44px;
  }
  .toggle-push-left {
    background-image: url("../images/2t.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    border-right: 1px solid #5d5c5c;
    float:left;
  }
  .toggle-push-right {
    background-image: url("../images/5t.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    border-left: 1px solid #1e1e1e;
    float:right;
  }
}

@mixin uthsc-off-canvas-styles {

  //what is fb root?
  //is this an override?
  #fb-root > nav > ul > li:not(.not-a-link) > a {
    font-size: inherit;
    padding: 0;
    font-weight: inherit;
  }

  .offcanvas-nav.menu {

    //colors and aesthetic
    ul > li > ul {
      background-color: lighten($oil, 10%);
      li:first-of-type {
        border-top: solid 1px $jet;
      }
      a, li .not-a-link {
        padding-left: 30px;
        font-size: 1em;
      }
    }

    //colors and aesthetic
    //what is uthsc-split-button?
    .uthsc-split-button {
      width: 86%;
      font-size: 0.75em;
      padding: 10px 0;
      margin: 0;
      height: 44px;
      position: absolute;
      right: 0;
      z-index: 1000;
    }


    //colors and aesthetic
    .mission-links {
      padding: 8px;
      /*background-color: $uthsc-green;*/
      background-color: $uthsc-grey-dark;
      h2 {
        color: $white;
        text-align: center;
        border: 2px solid #eaeaea;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
        margin-bottom: -9px;
        padding: 5px 0 15px 0;
        background-color: $oil;
      }
    }

    //colors and aesthetic
    .button, {

      &.inverse {
        background-color: $gainsboro;
        color: $uthsc-green;
        border-bottom: 1px solid $base;
        text-align: left;
        font-weight: bold;
        margin-bottom: 0;

        .fa {
          padding: 0 14px 0 8px;
          width: 44px;
        }

        &:nth-child(even) {
          background: #a2a2a2;
        }
        &:last-of-type {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      &.menu {
        margin: 0;
        padding: 0 0 0 17px;

        .fa {
          width: 37px;
        }
      }
    }

    //colors and aesthetic
    //really specific?
    li.not-a-link.menu > a {
      padding: 7px 7px 7px 28px;
    }
    li.not-a-link.menu > a > i {
      padding-right: 13px;
    }

    //colors and aesthetic
    .uthsc-split-button.inverse {
      background-color: #a2a2a2;
      color: $uthsc-green;
      border-bottom: 1px solid $gainsboro;
      font-weight: bold;
      text-align: left;
      padding: 0 0 0 15px;
      font-size: 1em;
    }

    //colors and aesthetic
    .uthsc-split-button-home {
      border-right: 1px solid #aaaaaa;
      display: inline-block;
      height: 44px;
      margin: 0;
      width: 16%;
      z-index: 1001;

      &.inverse {
        background-color: #a2a2a2;
        color: $uthsc-green;
        border-bottom: 1px solid $gainsboro;
        font-weight: bold;
      }
    }

    .uthsc-split-button-breadcrumb-links {
      z-index: 1002;

      a {
        color: #222;
        font-size: 0.75em;
      }

      li {
        text-align: center;
        border: none;

        &:after {
          content: "\f106";
          font-family: fontawesome;
        }

        &:last-child:after {
          content: "";
        }
      }
    }

    .uthsc-split-button-mission-links {
      z-index: 1002;
      a {
        color: #a2a2a2;
        padding-left: 44px;
      }
      li {
        text-align: left;
        background-color: #000;
        color: #a2a2a2;
        border-bottom: 1px solid #006A4D;
        i {
          float: left;
          padding: 12px 17px;
        }
      }
    }

    ol.uthsc-split-button-mission-links {
      border-bottom: 3px solid #006A4D;
      border: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    a {
      font-weight: 300;
      color: #fff;
    }

    p {
      padding: 10px;
      color: $white;
      line-height: 1.25;
      font-size: .75em;
      background-color: #000;
      margin: 0;
    }

  }

  .off-canvas {

    &.push-menu-left,
    &.push-menu-right {
      li {
        display: block;
        text-align: left;
        border-bottom: solid 1px #000;

        &:first-child {
          border-top: none
        }

        &:last-child {
          border-bottom: none
        }
      }

      a {
        display: block;
        padding: 10px;
        font-size: 1.15rem;
      }

      button.close-menu {
        margin: 0;
        padding: 10px 30px;
        background-color: #000;
      }
    }
  }
}


//consistent padding for full-width
//off-canvas links
@mixin off-canvas-link-padding {
  width: 100%;
  padding: .5em 1em;
  display: block;
}

@mixin uthsc-off-canvas-breadcrumbs {

  //remove default bottom margin on button-group
  margin-bottom: 0;

  .dropdown-pane {
    //using important to override inline
    //styles added by foundation
    left:0 !important;

    //reset dropdown-pane padding
    //for full width links
    padding:0;

    a {
      border-bottom: 1px solid black;
      @include off-canvas-link-padding;
    }
  }

  //make buttons full width
  .home-button { width:16%; }
  .breadcrumbs-button { width:84%; }
}



@mixin uthsc-off-canvas-styles-new {

  //close menu button
  .close-menu {
    color: $white;
    @include off-canvas-link-padding;
  }

  //search bar
  .off-canvas-search {
    .button {
      //manually set height to the same as the input
      height: 2.4375rem;
    }
  }

  //mission links
  .mission-links {
    //padding around mission links
    //from previous styles
    //padding: .5em;
    background: $uthsc-grey-dark;
    
    h2 {
      color: $white;
      background: $black;
      text-align: center;
      margin-bottom: 0;
    }

    a {
      background: $light-gray;
      @include off-canvas-link-padding;
    }
  }

  //call-to-action-links
  //make a gift
  //take a tour
  .call-to-action-link {
    background: $uthsc-green;
    color:$white;
    @include off-canvas-link-padding;
  }

  //unordered list reset
  ul, ul ul, li {
    margin:0;
    list-style: none;
  }

  .link-heading {
    background:$black;
    color: $white;
    @include off-canvas-link-padding;
  }

  li a {
    color: $white;
    @include off-canvas-link-padding;
  }

}

@mixin uthsc-off-canvas-basics {
  #uthsc-off-canvas-wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    @include uthsc-off-canvas-transition;
  }

  //mask that covers content area
  //when off canvas is activated
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }

  //these are the basics
  .offcanvas-nav.menu {
    position: fixed;
    z-index: 20;
    background-color: lighten($oil, 5%);
    overflow: auto;
    overflow-x: hidden;
    @include uthsc-off-canvas-transition;
    min-height: 100%;
  }
}

@mixin uthsc-off-canvas {
  @include uthsc-off-canvas-basics;

  .pmr-open {
    #uthsc-off-canvas-wrapper {
      position: fixed;
      width: 100%;
    }
    .offcanvas-nav.push-menu-right {
      position: absolute;
    }
  }

  .pml-open {
    #uthsc-off-canvas-wrapper {
      position: fixed;
      width: 100%;
    }
    .offcanvas-nav.push-menu-left {
      position: absolute;
    }
  }

  .offcanvas-nav {

    &.push-menu-left,
    &.push-menu-right {
      width: 300px;
      max-width: 86%;
    }

    &.push-menu-left {
      left: -300px
    }
    &.push-menu-right {
      right: -300px
    }

    @media all and (max-width: 330px) {
      nav.push-menu-left,
      nav.push-menu-right {
        top: 0;
        width: 300px;
      }
      &.push-menu-left {
        left: -300px
      }
      &.push-menu-right {
        right: -300px
      }
    }

    //bottom bar for safari-ios
    //to do rename class
    .bottom-nav-bar-off-canvas {
      width: 100%;
      height: 44px;
      clear: left;
      text-align: center;
      line-height: 44px;
      background-size: 89%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: lighten($oil, 5%);
      opacity: 0.4;
    }
  }

  body {
    &.pml-open nav.push-menu-left {
      left: 0
    }
    &.pmr-open nav.push-menu-right {
      right: 0
    }
    &.pml-open #uthsc-off-canvas-wrapper {
      left: 300px
    }
    &.pmr-open #uthsc-off-canvas-wrapper {
      left: -300px
    }

    @media all and (max-width: 330px) {
      &.pml-open nav.push-menu-left {
        left: 0
      }
      &.pmr-open nav.push-menu-right {
        right: 0
      }
      &.pml-open #uthsc-off-canvas-wrapper {
        left: 100%
      }
      &.pmr-open #uthsc-off-canvas-wrapper {
        left: -100%
      }
    }
  }

  .uthsc-off-canvas-breadcrumbs { @include uthsc-off-canvas-breadcrumbs; }

  @include uthsc-off-canvas-activation-bar;

  .offcanvas-nav { @include uthsc-off-canvas-styles-new; }
}