////
/// @group uthsc-breadcrumbs
////

/// Background color for the uthscbreadcrumbs.
/// @type Color
$uthsc-breadcrumbs-background: #005f45 !default;

@mixin uthsc-breadcrumbs {
  .uthsc-breadcrumbs {
    background: $uthsc-breadcrumbs-background;

    ul {
      li {
        display: inline;
        float: none;
        text-transform: none;
        font-size: 0.9rem;
        a {
          color: #BBBBBB;
          &:hover {
            text-decoration: none;
          }
          &:not(.disabled):hover {
            color: $white;
          }
          .fa-home {
            position: relative;
            top: 0.2rem;
            padding-left: 1rem;
          }
        }
        &:not(:last-child)::after {
          content: '\f054';
          font-family: fontawesome;
          color: #BBBBBB;
          margin: 0 1rem 0 1.3rem;
        }
      }
    }

    .breadcrumbs {
      margin:0;
      padding: .5rem 0;
    }

  }
  .uthsc-off-canvas-breadcrumbs {
    color: $uthsc-green;
     a {
       color: $uthsc-green !important;
       border-bottom: none !important;
    }

    .dropdown-pane {
      border: 1px solid #bbb;
      box-shadow:  0 2px 10px rgba(0,0,0,.2);

    a:before, li:last-of-type:before {
      content: "\f077";
      font-family: fontawesome;
      padding: 0 1.1rem 0 0.1rem !important;
    }
    }
  }
}