////
/// @group uthsc-breadcrumbs
////

/// Background color for the uthscbreadcrumbs.
/// @type Color
$uthsc-breadcrumbs-background: #005f45 !default;

@mixin uthsc-breadcrumbs {
  .uthsc-breadcrumbs {
    background: $uthsc-breadcrumbs-background;
    color: $white;

    .breadcrumbs {
      margin:0;
      padding: .5em 0;
    }

    a {
      color:white;
    }
  }
}