////
/// @group footer-bottom
////

/// Background color for the bottom footer.
/// @type Color
$uthsc-footer-bottom-background: $uthsc-first-bookend-color !default;

/// Adds styles for a top bar container.
@mixin uthsc-footer-bottom-styles {
  background-color: $uthsc-footer-bottom-background;

  p {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .uthsc-copy-block p {
    margin: 1rem;
  }

  .uthsc-footer-button {
    background-color: #ffffff;
    p {
    margin-bottom: 0;
    color: $uthsc-footer-bottom-background;
    }
  }

  .uthsc-social-icons .fa {
    padding: 1rem;
  }
  #uthsc-emergency-desktop
  .fa {
    margin-top: 1rem;
  }
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
  }
    * {
      color: #ffffff;
      font-weight: 700;
    }
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@mixin uthsc-footer-bottom {
  .uthsc-footer-bottom {
    @include uthsc-footer-bottom-styles;
  }
}